body{
  background-color: #000000;
  color: #ffeeee;
}
hr{
  color: #cc0000;
}
a{
  color: #cc0000;
}
.dropbtn{
  background-color: #cc0000;
  color: #ffeeee;
  position: relative;
  left:50px;
  top:-25px;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
.dropdown{
  display: inline-block;
}
.dropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 30px;
  text-decoration: none;
  display: block;

}
.dropdown:click .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ff2222;
}
.textwall{
  font-size: 35px;
}
.textwall em{
  color: #cc0000;
}
.textwall img{
  width:950px;
  heihgt:950px;
  border-radius: 8px;
}
.footer{
  color: #aaaaaa;
  list-style: none;
  display: inline-flex;

}
